.new-collection {
  padding: 0 31px;
  margin-top: 23px;
}

.new-collection-banner img {
  width: 100%;
  height: auto;
  display: flex;
}

.new-collection-banner {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: auto;
}

.new-collection-title strong {
  color: #000;
  font-size: 24px;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.new-collection-title {
  margin-bottom: 16px;
}

.new-collection-content p {
  color: #000;
  font-size: 14px;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.new-collection-content {
  margin-bottom: 24px;
}

@media (min-width: 992px) {
  .new-collection {
    display: flex;
    padding: 0 161px;
  }
  .new-collection-content p {
    max-width: 420px;
    margin-right: 64px;
  }
  .new-collection-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .new-collection-banner {
    max-width: 1114px;
  }
}
